In [7]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.post5.tar.gz (3.7 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0.post5-py3-none-any.whl size=2970 sha256=7b4e1faaf8fd1b1df7f66ab00254a37e66573183e3735f156f565e8be2ee3df7
  Stored in directory: c:\users\luoco\appdata\local\pip\cache\wheels\36\49\c9\2374f1dee1b599effabf63d948635e6608f62d0ccde027b7e2
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post5
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install matplot lib

Requirement already satisfied: matplot in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (0.1.9)
Requirement already satisfied: lib in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (4.0.0)
Requirement already satisfied: pyloco>=0.0.134 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplot) (0.0.139)
Requirement already satisfied: matplotlib>=3.1.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplot) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (1.1.0)
Requirement already satisfied: cycler>=0.10 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from matplotlib>=3.1.1->matplot) (6.0.0)
Requirement already satisfied: ushlex in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from pyloco>=0.0.134->matplot) (0.99.1)
Requirement already satisfied: websocket-client in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from pyloco>=0.0.134->matplot) (1.6.1)
Requirement already satisfied: twine in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from pyloco>=0.0.134->matplot) (4.0.2)
Requirement already satisfied: typing in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from pyloco>=0.0.134->matplot) (3.7.4.3)
Requirement already satisfied: SimpleWebSocketServer in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from pyloco>=0.0.134->matplot) (0.1.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.1.1->matplot) (3.16.0)
Requirement already satisfied: six>=1.5 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.1->matplot) (1.16.0)
Requirement already satisfied: pkginfo>=1.8.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (1.9.6)
Requirement already satisfied: readme-renderer>=35.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (40.0)
Requirement already satisfied: requests>=2.20 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (2.31.0)
Requirement already satisfied: requests-toolbelt!=0.9.0,>=0.8.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (1.0.0)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (1.26.16)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (6.8.0)
Requirement already satisfied: keyring>=15.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (24.2.0)
Requirement already satisfied: rfc3986>=1.4.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (2.0.0)
Requirement already satisfied: rich>=12.0.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from twine->pyloco>=0.0.134->matplot) (13.4.2)
Requirement already satisfied: jaraco.classes in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from keyring>=15.1->twine->pyloco>=0.0.134->matplot) (3.3.0)
Requirement already satisfied: pywin32-ctypes>=0.2.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from keyring>=15.1->twine->pyloco>=0.0.134->matplot) (0.2.2)
Requirement already satisfied: bleach>=2.1.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from readme-renderer>=35.0->twine->pyloco>=0.0.134->matplot) (6.0.0)
Requirement already satisfied: docutils>=0.13.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from readme-renderer>=35.0->twine->pyloco>=0.0.134->matplot) (0.20.1)
Requirement already satisfied: Pygments>=2.5.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from readme-renderer>=35.0->twine->pyloco>=0.0.134->matplot) (2.15.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from rich>=12.0.0->twine->pyloco>=0.0.134->matplot) (3.0.0)
Requirement already satisfied: webencodings in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from bleach>=2.1.0->readme-renderer>=35.0->twine->pyloco>=0.0.134->matplot) (0.5.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from markdown-it-py>=2.2.0->rich>=12.0.0->twine->pyloco>=0.0.134->matplot) (0.1.2)
Requirement already satisfied: more-itertools in c:\users\luoco\miniconda3\envs\fntp\lib\site-packages (from jaraco.classes->keyring>=15.1->twine->pyloco>=0.0.134->matplot) (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# importing necessary libraries 
import pandas as pd
import tensorflow as tf
import os
import re
import numpy as np
from string import punctuation
from zipfile import ZipFile
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [6]:
# importing neural network libraries
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Embedding, GRU, LSTM, RNN, SpatialDropout1D

In [8]:
train = pd.read_csv(r'C:\Users\luoco\Documents\Dissertation-Project\fake-news-data\LSTM-data\train.csv\train.csv')
test = pd.read_csv(r'C:\Users\luoco\Documents\Dissertation-Project\fake-news-data\LSTM-data\test.csv\test.csv')
train_data = train.copy()
test_data = test.copy()

In [9]:
train_data = train_data.set_index('id', drop = True)

In [10]:
print(train_data.shape)
train_data.head()

(20800, 4)

,title,author,text,label
id,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [11]:
print(test_data.shape)
test_data.head()

(5200, 4)

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [12]:
# checking for missing values
train_data.isnull().sum()

title      558
author    1957
text        39
label        0
dtype: int64

In [13]:
# dropping missing values from text columns alone. 
train_data[['title', 'author']] = train_data[['title', 'author']].fillna(value = 'Missing')
train_data = train_data.dropna()
train_data.isnull().sum()

title     0
author    0
text      0
label     0
dtype: int64

In [14]:
length = []
[length.append(len(str(text))) for text in train_data['text']]
train_data['length'] = length
train_data.head()

,title,author,text,label,length
id,,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,4930
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,4160
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,7692
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,3237
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,938

In [15]:
min(train_data['length']), max(train_data['length']), round(sum(train_data['length'])/len(train_data['length']))

(1, 142961, 4553)

In [16]:
len(train_data[train_data['length'] < 50])

207

In [17]:
train_data['text'][train_data['length'] < 50]

id
82
169
173                                   Guest   Guest
196            They got the heater turned up on high.
295
                             ...
20350                         I hope nobody got hurt!
20418                                 Guest   Guest
20431    \nOctober 28, 2016 The Mothers by stclair by
20513
20636                              Trump all the way!
Name: text, Length: 207, dtype: object

In [18]:
# dropping the outliers
train_data = train_data.drop(train_data['text'][train_data['length'] < 50].index, axis = 0)

In [19]:
min(train_data['length']), max(train_data['length']), round(sum(train_data['length'])/len(train_data['length']))

(50, 142961, 4598)

In [20]:
max_features = 4500

In [21]:
# Tokenizing the text - converting the words, letters into counts or numbers. 
# We dont need to explicitly remove the punctuations. we have an inbuilt option in Tokenizer for this purpose
tokenizer = Tokenizer(num_words = max_features, filters='!"#$%&()*+,-./:;<=>?@[\\]^_`{|}~\t\n', lower = True, split = ' ')
tokenizer.fit_on_texts(texts = train_data['text'])
X = tokenizer.texts_to_sequences(texts = train_data['text'])

In [22]:
# now applying padding to make them even shaped.
X = pad_sequences(sequences = X, maxlen = max_features, padding = 'pre')

In [23]:
print(X.shape)
y = train_data['label'].values
print(y.shape)

(20554, 4500)
(20554,)

In [24]:
# splitting the data training data for training and validation.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [25]:
# LSTM Neural Network
lstm_model = Sequential(name = 'lstm_nn_model')
lstm_model.add(layer = Embedding(input_dim = max_features, output_dim = 120, name = '1st_layer'))
lstm_model.add(layer = LSTM(units = 120, dropout = 0.2, recurrent_dropout = 0.2, name = '2nd_layer'))
lstm_model.add(layer = Dropout(rate = 0.5, name = '3rd_layer'))
lstm_model.add(layer = Dense(units = 120,  activation = 'relu', name = '4th_layer'))
lstm_model.add(layer = Dropout(rate = 0.5, name = '5th_layer'))
lstm_model.add(layer = Dense(units = len(set(y)),  activation = 'sigmoid', name = 'output_layer'))
# compiling the model
lstm_model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [ ]:
lstm_model_fit = lstm_model.fit(X_train, y_train, epochs = 1)

In [ ]:
# GRU neural Network
gru_model = Sequential(name = 'gru_nn_model')
gru_model.add(layer = Embedding(input_dim = max_features, output_dim = 120, name = '1st_layer'))
gru_model.add(layer = GRU(units = 120, dropout = 0.2, 
                          recurrent_dropout = 0.2, recurrent_activation = 'relu', 
                          activation = 'relu', name = '2nd_layer'))
gru_model.add(layer = Dropout(rate = 0.4, name = '3rd_layer'))
gru_model.add(layer = Dense(units = 120, activation = 'relu', name = '4th_layer'))
gru_model.add(layer = Dropout(rate = 0.2, name = '5th_layer'))
gru_model.add(layer = Dense(units = len(set(y)), activation = 'softmax', name = 'output_layer'))
# compiling the model
gru_model.compile(optimizer = 'adam', loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [ ]:
gru_model.summary()

In [ ]:
gru_model_fit = gru_model.fit(X_train, y_train, epochs = 1)

In [ ]:
print(test.shape)
test_data = test.copy()
print(test_data.shape)

In [ ]:
test_data = test_data.set_index('id', drop = True)
test_data.shape

In [ ]:
test_data = test_data.fillna(' ')
print(test_data.shape)
test_data.isnull().sum()

In [ ]:
tokenizer.fit_on_texts(texts = test_data['text'])
test_text = tokenizer.texts_to_sequences(texts = test_data['text'])

In [ ]:
test_text = pad_sequences(sequences = test_text, maxlen = max_features, padding = 'pre')

In [ ]:
lstm_prediction = lstm_model.predict_classes(test_text)

In [ ]:
submission = pd.DataFrame({'id':test_data.index, 'label':lstm_prediction})
submission.shape

In [ ]:
submission.head()

In [ ]:
submission.to_csv('submission.csv', index = False)

### Try running this one tomorrow:

https://github.com/Shaon2221/Fake-News-Detection-using-LSTM/blob/master/Fake%20News%20Detection%20using%20LSTM.ipynb

## or this one

https://www.youtube.com/watch?v=eLjs52-gsJQ

this is the one i am using in the above code. 20/7/2023


https://www.kaggle.com/code/jsvishnuj/fakenews-detection-using-lstm-neural-network 



then use this file to pad out the code in the document with graphs and stats etc depnding on the dataset being used.